#experienceInfo {
  display: grid;
  padding: 2vw 2vh;
  border: 2px solid #aaa;
  background-color: #e0e0e0;
  border-radius: 8px;
  gap: 1vw 1vh;
  margin: 2vw 1vh;
}

.exp-btn {
  justify-self: center;
  background-color: #2ecc71;
  border-color: #ccc;
  color: #e6e6e6;
  transition: 0.25s;
  max-width: 25vw;
}

.exp-btn:hover {
  background-color: #e6e6e6;
  color: #2ecc71;
}

.job {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1vw 1vh;
  border: 2px solid #ccc;
  border-radius: 2px;
}

.job > div {
  display: flex;
  justify-content: space-between;
  padding: 2px;
  border: 2px solid #ccc;
  border-radius: 2px;
}

.responsibilities {
  grid-column: span 2;
}

.responsibilities-list {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.job-header {
  grid-column: 1/-1;
  justify-self: start;
}

input {
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #333;

  outline: 2px solid transparent;
}

input:focus {
  outline-color: #3498db;
}
